/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2017, 1:55:33 PM
    Author     : mathieu
*/

.text-icon {
    -fx-background-image: url("../img/text-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60%;
    -fx-background-color: white;
}
.canvas-icon {
    -fx-background-image: url("../img/canvas-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-color: white;
}
.image-icon {
    -fx-background-image: url("../img/image-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-color: white;
}