/* 
    Created on : May 3, 2017, 1:55:33 PM
    Author     : mathieu
*/

.text-icon {
    -fx-background-image: url("../img/text-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60%;
    -fx-background-color: white;
}
.canvas-icon {
    -fx-background-image: url("../img/canvas-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-color: white;
}
.image-icon {
    -fx-background-image: url("../img/image-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-color: white;
}
.brush-icon{
    -fx-background-image: url("../img/brush-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50%;
}

.text-creation {
    -fx-background-image: url("../img/new-text-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
}

.image-creation {
    -fx-background-image: url("../img/new-image-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
}

.canvas-creation {
    -fx-background-image: url("../img/new-canvas-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
}

.tool-button {
    -fx-background-color: linear-gradient(#FFF, #DDD);
    -fy-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #DDD;
}
.tool-button:pressed, .tool-button:focused {
    -fx-background-color: linear-gradient(#DDD, #FFF);
}